.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.intro {
  background-color: #a1d900;
  padding-bottom: 30px;
}

.greenbackground {
  background-color: #a1d900;
}

.intro-container {
  border: 15px solid lightgrey;
  margin: 100px;
  background: #ffffff;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 25px !important;
  align-items: center;
}

.left {
  float: left;
} 

.right {
  float: right;
}

.train {
  background-color: #e9e6df;
}

.resize-img {
  height:75px;
  width: 75px;
  overflow: hidden;
}

.header {
  font-weight: 900;
  font-size: 30px;
}

.text {
  font-size: 20px;
}

.text-left {
  left: 0px;
  width: 50%;
  position: absolute;
  text-align: center;
}

.text-right {
  right: 0px;
  width: 50%;
  position: absolute;
  text-align: center;
}

.button {
  background-color: #a1d900; /* Green */
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: #e9e6df;
}

/* Intro Container Contents */
.tier-1 {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.tier-2 {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.tier-3 {
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.tier-4 {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Intro Container Contents - for small screens */
@media only screen and (max-width: 767px) {
  .tier-1 {
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin-bottom: 20px;
  }

  .tier-2 {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 20px;
  }

  .tier-3 {
    display: none;
  }

  .tier-4 {
    display: none;
  }
}